body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1796 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u1797 {
  position:absolute;
  left:662px;
  top:46px;
  width:260px;
  height:74px;
}
#u1798 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u1799 {
  position:absolute;
  left:843px;
  top:46px;
  width:260px;
  height:74px;
}
#u1800 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u1801 {
  position:absolute;
  left:1025px;
  top:46px;
  width:260px;
  height:74px;
}
#u1802 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1803 {
  position:absolute;
  left:1014px;
  top:0px;
  width:120px;
  height:40px;
}
#u1804 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1805 {
  position:absolute;
  left:1134px;
  top:0px;
  width:120px;
  height:40px;
}
#u1806 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u1807 {
  position:absolute;
  left:481px;
  top:46px;
  width:260px;
  height:74px;
}
#u1808 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u1810 {
  position:absolute;
  left:662px;
  top:46px;
  width:260px;
  height:74px;
  opacity:0.8;
}
#u1811 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u1812 {
  position:absolute;
  left:843px;
  top:46px;
  width:260px;
  height:74px;
  opacity:0.8;
}
#u1813 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u1814 {
  position:absolute;
  left:1025px;
  top:46px;
  width:260px;
  height:74px;
  opacity:0.8;
}
#u1815 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1816 {
  position:absolute;
  left:1014px;
  top:0px;
  width:120px;
  height:40px;
  opacity:0.8;
}
#u1817 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1818 {
  position:absolute;
  left:1134px;
  top:0px;
  width:120px;
  height:40px;
  opacity:0.8;
}
#u1819 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1820 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1821 {
  position:absolute;
  left:1254px;
  top:1px;
  width:62px;
  height:40px;
}
#u1822 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1823 {
  position:absolute;
  left:1316px;
  top:1px;
  width:62px;
  height:40px;
}
#u1824 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1825 {
  position:absolute;
  left:1378px;
  top:1px;
  width:62px;
  height:40px;
}
#u1826 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:899px;
}
#u1827 {
  position:absolute;
  left:0px;
  top:1px;
  width:1440px;
  height:899px;
}
#u1828 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:120px;
  background:-webkit-linear-gradient(270deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 1%, rgba(35, 35, 35, 1) 94%, rgba(9, 10, 12, 1) 100%, rgba(9, 10, 12, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 1%, rgba(35, 35, 35, 1) 94%, rgba(9, 10, 12, 1) 100%, rgba(9, 10, 12, 1) 100%);
  background:linear-gradient(180deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 1%, rgba(35, 35, 35, 1) 94%, rgba(9, 10, 12, 1) 100%, rgba(9, 10, 12, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(102, 102, 102, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(102, 102, 102, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(102, 102, 102, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u1829 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:120px;
  opacity:0.8;
}
#u1830 {
  position:absolute;
  left:2px;
  top:52px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:85px;
}
#u1831 {
  position:absolute;
  left:481px;
  top:46px;
  width:959px;
  height:75px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:30px;
  width:955px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:38px;
  color:#FFFFFF;
}
#u1834 {
  position:absolute;
  left:102px;
  top:34px;
  width:419px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:38px;
  color:#FFFFFF;
}
#u1835 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u1836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:65px;
}
#u1837 {
  position:absolute;
  left:22px;
  top:0px;
  width:60px;
  height:65px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:24px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:65px;
}
#u1839 {
  position:absolute;
  left:8px;
  top:42px;
  width:90px;
  height:65px;
}
#u1840 {
  position:absolute;
  left:2px;
  top:24px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1842 {
  position:absolute;
  left:1394px;
  top:5px;
  width:30px;
  height:30px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844 {
  position:absolute;
  left:1378px;
  top:0px;
  width:62px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1846 {
  position:absolute;
  left:1316px;
  top:0px;
  width:62px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1847 {
  position:absolute;
  left:1332px;
  top:5px;
  width:30px;
  height:30px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1850 {
  position:absolute;
  left:1254px;
  top:0px;
  width:62px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u1851 {
  position:absolute;
  left:1270px;
  top:12px;
  width:30px;
  height:24px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u1854 {
  position:absolute;
  left:481px;
  top:46px;
  width:260px;
  height:74px;
}
#u1855 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u1856 {
  position:absolute;
  left:481px;
  top:46px;
  width:260px;
  height:74px;
  opacity:0.8;
}
#u1857 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1858 {
  position:absolute;
  left:613px;
  top:66px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1859 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1860 {
  position:absolute;
  left:567px;
  top:55px;
  width:50px;
  height:50px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u1863 {
  position:absolute;
  left:662px;
  top:46px;
  width:260px;
  height:74px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1865 {
  position:absolute;
  left:764px;
  top:65px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1866 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1867 {
  position:absolute;
  left:714px;
  top:55px;
  width:50px;
  height:50px;
}
#u1868 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u1870 {
  position:absolute;
  left:843px;
  top:46px;
  width:260px;
  height:74px;
}
#u1871 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1872 {
  position:absolute;
  left:971px;
  top:65px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1874 {
  position:absolute;
  left:924px;
  top:55px;
  width:50px;
  height:50px;
}
#u1875 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u1877 {
  position:absolute;
  left:1025px;
  top:46px;
  width:260px;
  height:74px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1879 {
  position:absolute;
  left:1154px;
  top:64px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1881 {
  position:absolute;
  left:1102px;
  top:55px;
  width:50px;
  height:50px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1884 {
  position:absolute;
  left:1139px;
  top:5px;
  width:30px;
  height:30px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1886 {
  position:absolute;
  left:1169px;
  top:7px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1888 {
  position:absolute;
  left:1134px;
  top:0px;
  width:120px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1890 {
  position:absolute;
  left:1049px;
  top:7px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1891 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1892 {
  position:absolute;
  left:1019px;
  top:5px;
  width:30px;
  height:30px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894 {
  position:absolute;
  left:1014px;
  top:0px;
  width:120px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1896 {
  position:absolute;
  left:1259px;
  top:66px;
  width:30px;
  height:30px;
}
#u1897 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1898 {
  position:absolute;
  left:1280px;
  top:66px;
  width:30px;
  height:30px;
}
#u1899 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u1900 {
  position:absolute;
  left:1302px;
  top:69px;
  width:30px;
  height:25px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1902 {
  position:absolute;
  left:1324px;
  top:66px;
  width:30px;
  height:30px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1904 {
  position:absolute;
  left:1345px;
  top:66px;
  width:30px;
  height:30px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1906 {
  position:absolute;
  left:1387px;
  top:66px;
  width:30px;
  height:30px;
}
#u1907 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1908 {
  position:absolute;
  left:1408px;
  top:66px;
  width:30px;
  height:30px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u1910 {
  position:absolute;
  left:1367px;
  top:69px;
  width:30px;
  height:25px;
}
#u1911 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1445px;
  height:10px;
}
#u1912 {
  position:absolute;
  left:0px;
  top:114px;
  width:1440px;
  height:5px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(119, 0, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1915 {
  position:absolute;
  left:15px;
  top:128px;
  width:360px;
  height:200px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:92px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1917 {
  position:absolute;
  left:15px;
  top:175px;
  width:360px;
  height:1px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1919 {
  position:absolute;
  left:318px;
  top:131px;
  width:42px;
  height:42px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1922 {
  position:absolute;
  left:68px;
  top:137px;
  width:45px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1924 {
  position:absolute;
  left:30px;
  top:134px;
  width:35px;
  height:35px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1927 {
  position:absolute;
  left:98px;
  top:200px;
  width:55px;
  height:55px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1929 {
  position:absolute;
  left:102px;
  top:260px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u1932 {
  position:absolute;
  left:232px;
  top:203px;
  width:50px;
  height:46px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1934 {
  position:absolute;
  left:238px;
  top:262px;
  width:38px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:551px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(119, 0, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1936 {
  position:absolute;
  left:15px;
  top:338px;
  width:360px;
  height:551px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:268px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u1938 {
  position:absolute;
  left:16px;
  top:385px;
  width:359px;
  height:1px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1941 {
  position:absolute;
  left:63px;
  top:346px;
  width:89px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1942 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1943 {
  position:absolute;
  left:30px;
  top:345px;
  width:30px;
  height:30px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1945 {
  position:absolute;
  left:323px;
  top:346px;
  width:32px;
  height:32px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947 {
  position:absolute;
  left:24px;
  top:396px;
  width:150px;
  height:27px;
}
#u1947_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1948_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:5px;
}
#u1948 {
  position:absolute;
  left:184px;
  top:409px;
  width:20px;
  height:2px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:-7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950 {
  position:absolute;
  left:214px;
  top:396px;
  width:150px;
  height:27px;
}
#u1950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u1951 {
  position:absolute;
  left:16px;
  top:434px;
  width:359px;
  height:1px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1954 {
  position:absolute;
  left:17px;
  top:436px;
  width:355px;
  height:45px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:14px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1956 {
  position:absolute;
  left:24px;
  top:440px;
  width:35px;
  height:35px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1958 {
  position:absolute;
  left:59px;
  top:448px;
  width:253px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1961 {
  position:absolute;
  left:50px;
  top:481px;
  width:40px;
  height:40px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1963 {
  position:absolute;
  left:89px;
  top:490px;
  width:264px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:44px;
}
#u1966 {
  position:absolute;
  left:83px;
  top:521px;
  width:48px;
  height:44px;
}
#u1967 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1968 {
  position:absolute;
  left:135px;
  top:532px;
  width:218px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:758px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(119, 0, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1971 {
  position:absolute;
  left:385px;
  top:131px;
  width:1040px;
  height:758px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:371px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:2px;
}
#u1973 {
  position:absolute;
  left:385px;
  top:177px;
  width:1040px;
  height:1px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1975 {
  position:absolute;
  left:560px;
  top:132px;
  width:172px;
  height:45px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:14px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:49px;
}
#u1977 {
  position:absolute;
  left:559px;
  top:131px;
  width:175px;
  height:49px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:16px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1980 {
  position:absolute;
  left:617px;
  top:139px;
  width:89px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1982 {
  position:absolute;
  left:570px;
  top:130px;
  width:45px;
  height:45px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:49px;
}
#u1984 {
  position:absolute;
  left:385px;
  top:131px;
  width:175px;
  height:49px;
}
#u1985 {
  position:absolute;
  left:2px;
  top:16px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1987 {
  position:absolute;
  left:454px;
  top:141px;
  width:89px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1989 {
  position:absolute;
  left:407px;
  top:132px;
  width:45px;
  height:45px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991 {
  position:absolute;
  left:387px;
  top:177px;
  width:1035px;
  height:36px;
}
#u1991_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1041px;
  height:42px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:41px;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1994 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1995 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1996 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1997 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1998 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u1999 {
  position:absolute;
  left:300px;
  top:0px;
  width:147px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2000 {
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u2001 {
  position:absolute;
  left:447px;
  top:0px;
  width:147px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2002 {
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u2003 {
  position:absolute;
  left:594px;
  top:0px;
  width:147px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2004 {
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u2005 {
  position:absolute;
  left:741px;
  top:0px;
  width:147px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2006 {
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u2007 {
  position:absolute;
  left:888px;
  top:0px;
  width:147px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2008 {
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
