body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u2010 {
  position:absolute;
  left:662px;
  top:46px;
  width:260px;
  height:74px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u2012 {
  position:absolute;
  left:843px;
  top:46px;
  width:260px;
  height:74px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u2014 {
  position:absolute;
  left:1025px;
  top:46px;
  width:260px;
  height:74px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2016 {
  position:absolute;
  left:1014px;
  top:0px;
  width:120px;
  height:40px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2018 {
  position:absolute;
  left:1134px;
  top:0px;
  width:120px;
  height:40px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u2020 {
  position:absolute;
  left:481px;
  top:46px;
  width:260px;
  height:74px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u2023 {
  position:absolute;
  left:662px;
  top:46px;
  width:260px;
  height:74px;
  opacity:0.8;
}
#u2024 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u2025 {
  position:absolute;
  left:843px;
  top:46px;
  width:260px;
  height:74px;
  opacity:0.8;
}
#u2026 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u2027 {
  position:absolute;
  left:1025px;
  top:46px;
  width:260px;
  height:74px;
  opacity:0.8;
}
#u2028 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2029 {
  position:absolute;
  left:1014px;
  top:0px;
  width:120px;
  height:40px;
  opacity:0.8;
}
#u2030 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(73, 28, 29, 1) 100%, rgba(73, 28, 29, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2031 {
  position:absolute;
  left:1134px;
  top:0px;
  width:120px;
  height:40px;
  opacity:0.8;
}
#u2032 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2034 {
  position:absolute;
  left:1254px;
  top:1px;
  width:62px;
  height:40px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2036 {
  position:absolute;
  left:1316px;
  top:1px;
  width:62px;
  height:40px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2038 {
  position:absolute;
  left:1378px;
  top:1px;
  width:62px;
  height:40px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:899px;
}
#u2040 {
  position:absolute;
  left:0px;
  top:1px;
  width:1440px;
  height:899px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:120px;
  background:-webkit-linear-gradient(270deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 1%, rgba(35, 35, 35, 1) 94%, rgba(9, 10, 12, 1) 100%, rgba(9, 10, 12, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 1%, rgba(35, 35, 35, 1) 94%, rgba(9, 10, 12, 1) 100%, rgba(9, 10, 12, 1) 100%);
  background:linear-gradient(180deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 1%, rgba(35, 35, 35, 1) 94%, rgba(9, 10, 12, 1) 100%, rgba(9, 10, 12, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(102, 102, 102, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(102, 102, 102, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(102, 102, 102, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u2042 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:120px;
  opacity:0.8;
}
#u2043 {
  position:absolute;
  left:2px;
  top:52px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:85px;
}
#u2044 {
  position:absolute;
  left:481px;
  top:46px;
  width:959px;
  height:75px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:30px;
  width:955px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:38px;
  color:#FFFFFF;
}
#u2047 {
  position:absolute;
  left:102px;
  top:34px;
  width:419px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:38px;
  color:#FFFFFF;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:65px;
}
#u2050 {
  position:absolute;
  left:22px;
  top:0px;
  width:60px;
  height:65px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:24px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:65px;
}
#u2052 {
  position:absolute;
  left:8px;
  top:42px;
  width:90px;
  height:65px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:24px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2055 {
  position:absolute;
  left:1394px;
  top:5px;
  width:30px;
  height:30px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057 {
  position:absolute;
  left:1378px;
  top:0px;
  width:62px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2059 {
  position:absolute;
  left:1316px;
  top:0px;
  width:62px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2060 {
  position:absolute;
  left:1332px;
  top:5px;
  width:30px;
  height:30px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2063 {
  position:absolute;
  left:1254px;
  top:0px;
  width:62px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u2064 {
  position:absolute;
  left:1270px;
  top:12px;
  width:30px;
  height:24px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u2067 {
  position:absolute;
  left:481px;
  top:46px;
  width:260px;
  height:74px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u2069 {
  position:absolute;
  left:481px;
  top:46px;
  width:260px;
  height:74px;
  opacity:0.8;
}
#u2070 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2071 {
  position:absolute;
  left:613px;
  top:66px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2073 {
  position:absolute;
  left:567px;
  top:55px;
  width:50px;
  height:50px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u2076 {
  position:absolute;
  left:662px;
  top:46px;
  width:260px;
  height:74px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2078 {
  position:absolute;
  left:764px;
  top:65px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2080 {
  position:absolute;
  left:714px;
  top:55px;
  width:50px;
  height:50px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u2083 {
  position:absolute;
  left:843px;
  top:46px;
  width:260px;
  height:74px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2085 {
  position:absolute;
  left:971px;
  top:65px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2087 {
  position:absolute;
  left:924px;
  top:55px;
  width:50px;
  height:50px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:74px;
}
#u2090 {
  position:absolute;
  left:1025px;
  top:46px;
  width:260px;
  height:74px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:29px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2092 {
  position:absolute;
  left:1154px;
  top:64px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2094 {
  position:absolute;
  left:1102px;
  top:55px;
  width:50px;
  height:50px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2097 {
  position:absolute;
  left:1139px;
  top:5px;
  width:30px;
  height:30px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2099 {
  position:absolute;
  left:1169px;
  top:7px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2100 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2101 {
  position:absolute;
  left:1134px;
  top:0px;
  width:120px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2103 {
  position:absolute;
  left:1049px;
  top:7px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2104 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2105 {
  position:absolute;
  left:1019px;
  top:5px;
  width:30px;
  height:30px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107 {
  position:absolute;
  left:1014px;
  top:0px;
  width:120px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2109 {
  position:absolute;
  left:1259px;
  top:66px;
  width:30px;
  height:30px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2111 {
  position:absolute;
  left:1280px;
  top:66px;
  width:30px;
  height:30px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u2113 {
  position:absolute;
  left:1302px;
  top:69px;
  width:30px;
  height:25px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2115 {
  position:absolute;
  left:1324px;
  top:66px;
  width:30px;
  height:30px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2117 {
  position:absolute;
  left:1345px;
  top:66px;
  width:30px;
  height:30px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2119 {
  position:absolute;
  left:1387px;
  top:66px;
  width:30px;
  height:30px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2121 {
  position:absolute;
  left:1408px;
  top:66px;
  width:30px;
  height:30px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u2123 {
  position:absolute;
  left:1367px;
  top:69px;
  width:30px;
  height:25px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1445px;
  height:10px;
}
#u2125 {
  position:absolute;
  left:0px;
  top:114px;
  width:1440px;
  height:5px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(119, 0, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2128 {
  position:absolute;
  left:15px;
  top:128px;
  width:360px;
  height:200px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:92px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2130 {
  position:absolute;
  left:15px;
  top:175px;
  width:360px;
  height:1px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2132 {
  position:absolute;
  left:318px;
  top:131px;
  width:42px;
  height:42px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2135 {
  position:absolute;
  left:68px;
  top:137px;
  width:45px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2136 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2137 {
  position:absolute;
  left:30px;
  top:134px;
  width:35px;
  height:35px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u2140 {
  position:absolute;
  left:98px;
  top:200px;
  width:55px;
  height:55px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2142 {
  position:absolute;
  left:102px;
  top:260px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u2145 {
  position:absolute;
  left:232px;
  top:203px;
  width:50px;
  height:46px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2147 {
  position:absolute;
  left:238px;
  top:262px;
  width:38px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2148 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:551px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(119, 0, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2149 {
  position:absolute;
  left:15px;
  top:338px;
  width:360px;
  height:551px;
}
#u2150 {
  position:absolute;
  left:2px;
  top:268px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u2151 {
  position:absolute;
  left:16px;
  top:385px;
  width:359px;
  height:1px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2154 {
  position:absolute;
  left:63px;
  top:346px;
  width:89px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2155 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2156 {
  position:absolute;
  left:30px;
  top:345px;
  width:30px;
  height:30px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2158 {
  position:absolute;
  left:323px;
  top:346px;
  width:32px;
  height:32px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160 {
  position:absolute;
  left:24px;
  top:396px;
  width:150px;
  height:27px;
}
#u2160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2161_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:5px;
}
#u2161 {
  position:absolute;
  left:184px;
  top:409px;
  width:20px;
  height:2px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:-7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163 {
  position:absolute;
  left:214px;
  top:396px;
  width:150px;
  height:27px;
}
#u2163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u2164 {
  position:absolute;
  left:16px;
  top:434px;
  width:359px;
  height:1px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2167 {
  position:absolute;
  left:17px;
  top:436px;
  width:355px;
  height:45px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:14px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2169 {
  position:absolute;
  left:24px;
  top:440px;
  width:35px;
  height:35px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2171 {
  position:absolute;
  left:59px;
  top:448px;
  width:253px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2172 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2174 {
  position:absolute;
  left:50px;
  top:481px;
  width:40px;
  height:40px;
}
#u2175 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2176 {
  position:absolute;
  left:89px;
  top:490px;
  width:264px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2177 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u2178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:44px;
}
#u2179 {
  position:absolute;
  left:83px;
  top:521px;
  width:48px;
  height:44px;
}
#u2180 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2181 {
  position:absolute;
  left:135px;
  top:532px;
  width:218px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2182 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:758px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(119, 0, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2184 {
  position:absolute;
  left:385px;
  top:131px;
  width:1040px;
  height:758px;
}
#u2185 {
  position:absolute;
  left:2px;
  top:371px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:2px;
}
#u2186 {
  position:absolute;
  left:385px;
  top:177px;
  width:1040px;
  height:1px;
}
#u2187 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2188 {
  position:absolute;
  left:560px;
  top:132px;
  width:172px;
  height:45px;
}
#u2189 {
  position:absolute;
  left:2px;
  top:14px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:49px;
}
#u2190 {
  position:absolute;
  left:559px;
  top:131px;
  width:175px;
  height:49px;
}
#u2191 {
  position:absolute;
  left:2px;
  top:16px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2193 {
  position:absolute;
  left:617px;
  top:139px;
  width:89px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2194 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2195 {
  position:absolute;
  left:570px;
  top:130px;
  width:45px;
  height:45px;
}
#u2196 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:49px;
}
#u2197 {
  position:absolute;
  left:385px;
  top:131px;
  width:175px;
  height:49px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:16px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2200 {
  position:absolute;
  left:454px;
  top:141px;
  width:89px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2201 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2202 {
  position:absolute;
  left:407px;
  top:132px;
  width:45px;
  height:45px;
}
#u2203 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204 {
  position:absolute;
  left:387px;
  top:177px;
  width:1035px;
  height:36px;
}
#u2204_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1041px;
  height:42px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2205 {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:41px;
}
#u2206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2206 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2207 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2208 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2209 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2210 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2211 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u2212 {
  position:absolute;
  left:300px;
  top:0px;
  width:147px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2213 {
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u2214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u2214 {
  position:absolute;
  left:447px;
  top:0px;
  width:147px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2215 {
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u2216 {
  position:absolute;
  left:594px;
  top:0px;
  width:147px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2217 {
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u2218 {
  position:absolute;
  left:741px;
  top:0px;
  width:147px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2219 {
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u2220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u2220 {
  position:absolute;
  left:888px;
  top:0px;
  width:147px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2221 {
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
